body { background: #992567; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 22px; display: flex; }
.block-auth-0 { color: #f04522; font-size: 15px; margin-bottom: 5px; }
.block-search-1 { color: #5933dd; font-size: 18px; margin-bottom: 5px; }
.block-logger-2 { color: #b7540c; font-size: 19px; margin-bottom: 5px; }
.block-invoice-3 { color: #af6cbe; font-size: 17px; margin-bottom: 5px; }
.block-email-4 { color: #733ccd; font-size: 20px; margin-bottom: 5px; }
.block-filter-5 { color: #193101; font-size: 16px; margin-bottom: 5px; }
.block-session-6 { color: #336cc; font-size: 19px; margin-bottom: 5px; }
.block-user-7 { color: #a1cfb; font-size: 20px; margin-bottom: 5px; }
.block-cluster-8 { color: #1af170; font-size: 14px; margin-bottom: 5px; }
.block-filter-9 { color: #a73039; font-size: 14px; margin-bottom: 5px; }
.block-sms-10 { color: #d1c39b; font-size: 14px; margin-bottom: 5px; }